{% extends 'GameaffinityBundle:Front:FrontBase.html.twig' %}

{% block head %}{{ parent() }}{% endblock %}
{% block title %}Zona Usuarios registrados{% endblock %}


{% block body %}
    {{ parent() }}
    <h1>Zona usuarios registrados:</h1>    
    
    
{% endblock %}    
